<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard | Notum</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/7bf271c8b2.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="./images/notum-logo.svg" type="image/x-icon">
</head>

<body class="bg-gray-100">

  <!-- Top Navbar -->
  <nav class="bg-white sticky w-full top-0 z-10">
    <div class="p-4 flex justify-between items-center border-b h-12">
      <button onclick="document.querySelector('aside').classList.toggle('hidden')">
        <i class="fa-solid fa-bars"></i>
      </button>
      <div class="flex items-center gap-3">
        <img src="./images/notum-logo.svg" alt="Notum Logo" class="h-6 w-6">
        <h3 class="text-3xl font-bold">Notum</h3>
      </div>
      <a href="/profile" title="<%= user.username %>">
        <i class="fa-regular fa-user text-lg"></i>
      </a>
    </div>

  </nav>

  <!-- Sidebar -->
  <aside class="bg-white fixed left-0 h-full p-6 z-20 hidden">
    <nav class="flex flex-col items-center h-full" aria-label="Sidebar Navigation">
      <ul class="space-y-6">
        <li>
          <a href="/dashboard"
            class="w-8 h-8 p-2 bg-slate-100 rounded-lg block transform active:scale-95 transition duration-150 ease-in-out">
            <img src="./images/home-filled.svg" alt="">
          </a>
        </li>
        <li>
          <a href="/archive"
            class="w-8 h-8 p-2 bg-slate-100 rounded-lg block transform active:scale-95 transition duration-150 ease-in-out">
            <img src="./images/archive-outline.png" alt="">
          </a>
        </li>
        <li>
          <a href="/recycle-bin"
            class="w-8 h-8 p-2 bg-slate-100 rounded-lg block transform active:scale-95 transition duration-150 ease-in-out">
            <img src="./images/trash-outline.svg" alt="">
          </a>
        </li>
        <li>
          <a href="/categories"
            class="w-8 h-8 p-2 bg-slate-100 rounded-lg block transform active:scale-95 transition duration-150 ease-in-out">
            <img src="./images/category-outline.png" alt="">
          </a>
        </li>
        <li>
          <a href="/logout"
            class="w-8 h-8 p-2 bg-slate-100 rounded-lg block transform active:scale-95 transition duration-150 ease-in-out">
            <img src="./images/logout.png" alt="">
          </a>
        </li>

      </ul>
    </nav>
  </aside>


  <!-- Main Content -->
  <main class="w-11/12 mx-auto">
    <div class="mx-auto max-w-screen-md sticky top-16">
      <form id="searchForm">
        <input type="text" id="searchInput" name="search" onkeyup="filterNotes()" placeholder="Search notes..."
          class="w-full px-4 py-2 border rounded-md text-sm" />
      </form>
    </div>
    <div class="h-10"></div>
    <!-- category filter -->
    <div class="mx-auto max-w-screen-md mb-4 sticky">
      <form onchange="submit(this)" action="/filter-notes" method="GET" class="flex gap-4">
        <select name="category" required class="flex-1 px-4 py-2 border rounded-md text-sm">
          <option value="">Select a category</option>
          <% categories.forEach(category=> { %>
            <option value="<%= category.id %>">
              <%= category.category_name %>
            </option>
            <% }); %>
        </select>
        <a href="/dashboard" class="inline-block bg-gray-900 text-white px-4 py-2 rounded-md text-sm">Show All Notes</a>
      </form>
    </div>

    <div class="mx-auto w-11/12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">

      <!-- note -->
      <% if (notes.length===0) { %>
            <p class="text-gray-500 text-center col-span-full row-span-full">There is no note yet.</p>
        <% } else { %>
          <% notes.forEach(note=> { %>
            <div class="note-item p-4 border border-gray-300 rounded-md flex flex-col">
              <div onclick="document.querySelector('#Note-Popup-<%= note.id %>').classList.remove('scale-0')"
                class="flex flex-col flex-grow">
                <h3 class="note-title text-lg font-semibold text-gray-900 mb-1">
                  <%= note.title %>
                </h3>
                <p class="text-gray-400 text-xs mb-2">
                  <%= note.updated_at.toLocaleString() %>
                </p>
                <p class="note-content text-gray-600 overflow-hidden line-clamp-3 text-sm mb-3 flex-grow">
                  <%- note.content %>
                </p>
                <div class="space-x-2">
                  <% if (categories) { %>
                    <% categories.forEach(category=> { %>
                      <% note_categories.forEach(note_category=> { %>
                        <% if (note_category.category_id===category.id && note_category.note_id===note.id) { %>
                          <span class="bg-gray-200 text-sm border rounded-full px-3 py-1">
                            <%= category.category_name %>
                          </span>
                          <% } %>
                            <% }) %>
                              <% }) %>
                                <% } %>
                </div>
              </div>
              <!-- Note popup -->
              <div id="Note-Popup-<%= note.id %>"
                class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-2 w-11/12 max-w-screen-sm p-4 border rounded-md bg-white transform scale-0 transition duration-300 ease-in-out">
                <div class="flex justify-between items-center">
                  <h3 class="text-lg font-semibold text-gray-900 mb-1">
                    <%= note.title %>
                  </h3>
                  <button onclick="document.querySelector('#Note-Popup-<%= note.id %>').classList.toggle('scale-0')"
                    class="text-gray-500 hover:text-gray-700">&times;</button>
                </div>
                <p class="text-gray-400 text-xs mb-2">
                  <%= note.updated_at.toLocaleString() %>
                </p>
                <p class="text-gray-600 overflow-auto text-sm mb-3">
                  <%- note.content %>
                </p>
                <div class="space-x-2">
                  <% if (categories) { %>
                    <% categories.forEach(category=> { %>
                      <% note_categories.forEach(note_category=> { %>
                        <% if (note_category.category_id===category.id && note_category.note_id===note.id) { %>
                          <span class="bg-gray-200 text-sm border rounded-full px-3 py-1">
                            <%= category.category_name %>
                          </span>
                          <% } %>
                            <% }) %>
                              <% }) %>
                                <% } %>
                </div>
              </div>
              <div class="mt-3 text-gray-400 flex justify-between items-center">
                <div class="space-x-4 flex">
                  <button
                    onclick="document.querySelector('#Update-Popup-<%= note.id %>').classList.toggle('scale-0')"><i
                      class="fa-solid fa-pen-to-square"></i></button>

                  <form action="/notes/<%= note.id %>/archive" method="post"
                    onsubmit="return confirm('Are you sure you want to archive this note?');">
                    <button type="submit"><i class="fa-solid fa-box-archive"></i></button>
                  </form>
                  <form action="/notes/<%= note.id %>/delete" method="post"
                    onsubmit="return confirm('Are you sure you want to delete this note?');">
                    <button type="submit"><i class="fa-solid fa-trash"></i></button>
                  </form>
                </div>
                <form action="/notes/<%= note.id %>/pin" method="post">
                  <% if (note.pinned) { %>
                    <button type="submit"><i class="fa-solid fa-thumbtack text-black"></i></button>
                    <% } else { %>
                      <button type="submit"><i class="fa-solid fa-thumbtack"></i></button>
                      <% } %>
                </form>
              </div>
              <div id="Update-Popup-<%= note.id %>"
                class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-2 w-11/12 max-w-96 p-4 border rounded-md bg-white transform scale-0 transition duration-300 ease-in-out">
                <form action="/notes/<%= note.id %>/edit" method="post" class="space-y-4">
                  <input type="text" name="title" value="<%= note.title %>" id="" placeholder="Note title"
                    class="w-full px-4 py-2 border rounded-md text-sm" required>
                  <textarea name="content" rows="5" id="" placeholder="Note content"
                    class="w-full px-4 py-2 border rounded-md text-sm" required><%= note.content %></textarea>
                  <div class="flex gap-4">
                    <input type="submit" value="Update" class="w-full px-4 py-2 border rounded-md text-sm" />
                    <button onclick="document.querySelector('#Update-Popup-<%= note.id %>').classList.toggle('scale-0')"
                      class="w-full px-4 py-2 border rounded-md text-sm">Cancel</button>
                  </div>
                </form>
              </div>
            </div>
            <% }) %>
              <% } %>


    </div>

    <!-- Add note popup -->
    <div id="Add-Popup"
      class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-2 w-11/12 max-w-screen-sm p-4 border rounded-md bg-white transform scale-0 transition duration-300 ease-in-out">
      <form action="/notes" method="post" class="space-y-4">
        <input type="text" name="title" id="" placeholder="Note title"
          class="w-full px-4 py-2 border rounded-md text-sm" required>
        <textarea name="content" rows="5" id="" placeholder="Note content"
          class="w-full px-4 py-2 border rounded-md text-sm" required></textarea>

        <div id="category-container"></div>
        <div id="category-input">
        </div>
        <div class="flex gap-4">
          <input type="text" id="add-category" placeholder="Add category"
            class="w-full px-4 py-2 border rounded-md text-sm">
          <button type="button" id="add-category-btn" class="px-4 py-2 border rounded-md text-sm"><i
              class="fa-solid fa-plus"></i></button>
        </div>
        <div class="flex gap-4">
          <input type="submit" value="Add" class="w-full px-4 py-2 border rounded-md text-sm" />
          <button onclick="document.querySelector('#Add-Popup').classList.toggle('scale-0')"
            class="w-full px-4 py-2 border rounded-md text-sm">Cancel</button>
        </div>
      </form>
    </div>

  </main>


  <button onclick="document.querySelector('#Add-Popup').classList.toggle('scale-0')" id="openPopup"
    class="fixed right-12 bottom-12 z-2 w-8 h-8 p-2 bg-gray-800 rounded-lg flex items-center justify-center transform active:scale-95 transition duration-150 ease-in-out">
    <i class="fa-solid fa-plus text-white"></i>
  </button>


  <script>
    function filterNotes() {
      const searchQuery = document
        .getElementById("searchInput")
        .value.toLowerCase();

      const notes = document.querySelectorAll(".note-item");

      notes.forEach((note) => {
        const title = note.querySelector(".note-title").innerText.toLowerCase();
        const content = note.querySelector(".note-content").innerText.toLowerCase();

        if (title.includes(searchQuery) || content.includes(searchQuery)) {
          note.style.display = "block";
        } else {
          note.style.display = "none";
        }
      });
    }
  </script>
  <script>
    document.getElementById("add-category-btn").addEventListener("click", function (event) {
      event.preventDefault();
      const addCategory = document.getElementById("add-category").value.trim();

      if (addCategory !== "") {
        const categoryElement = document.createElement("input");
        categoryElement.type = "hidden";
        categoryElement.name = addCategory;
        categoryElement.value = addCategory;

        const categoryInput = document.getElementById("category-input");
        categoryInput.appendChild(categoryElement);
        document.getElementById("add-category").value = "";

        categoryViewElement = document.createElement("span");
        categoryViewElement.classList.add("text-gray-400", "text-sm", "border", "rounded-full", "px-2", "py-1", "ml-2");
        categoryViewElement.innerHTML = addCategory;
        document.getElementById("category-container").appendChild(categoryViewElement);
      }
    });
  </script>
</body>

</html>